<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArlixAJP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <ArlixAJP.Properties.Settings>
            <setting name="UserAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="DashBoardBackImage" serializeAs="String">
                <value>C:\Arlix\Green.jpg</value>
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SqlUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="CompName" serializeAs="String">
                <value>PT. Adent Jaya Plasindo</value>
            </setting>
            <setting name="CompAddress" serializeAs="String">
                <value>Jl.Kawasan Industri MM2100 Blok MM-OO No G2, Jl. Jatiwangi, RT.003/RW.2, Kec. Cikarang Barat, Bekasi, Jawa Barat 17530</value>
            </setting>
            <setting name="CompPhone" serializeAs="String">
                <value>021 - 8998 - 3733</value>
            </setting>
            <setting name="CompEmail" serializeAs="String">
                <value>adentjayaplasindo@gmail.com</value>
            </setting>
        </ArlixAJP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
